body{
    margin:0;
    font-family:'Courier New', monospace;
    overflow-y:auto;   /* permite scroll vertical */
}


.pink{
    background: linear-gradient(135deg,#ffd1dc,#ffb6c1,#ffc0cb);
}

#app{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:2;
    padding:20px;
}

/* tarjetas */
.card{
    background:white;
    padding:40px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    width:340px;
}

input{
    padding:12px;
    width:90%;
    margin:15px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#d90429;
    color:white;
    font-size:16px;
    transition:.3s;
}

/* carta */
.letterPaper{
    background:#ffe6ea;
    padding:50px;
    width:90%;
    max-width:900px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.mainTitle{
    font-size:32px;
    color:#c1121f;
    margin-bottom:25px;
}

.navButtons{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
}

/* totito */
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    margin:30px 0;
}

.grid div{
    border:2px solid #c1121f;
    padding:20px;
    min-height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* cajas rojas */
.redBoxes{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.redBoxes div{
    background:#c1121f;
    color:white;
    padding:20px;
    flex:1;
}

/* sobre */
.envelope{
    width:330px;
    height:230px;
    background:#f8c8dc;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* final */
.bigQuestion{
    color:red;
    font-size:42px;
    font-family:cursive;
    margin-top:25px;
}

.buttonsFinal{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
}

/* corazones */
.falling{
    position:fixed;
    top:-10px;
    font-size:24px;
    animation:fall linear infinite;
    z-index:1;
}
@keyframes fall{
    to{ transform:translateY(110vh); }
}


<video 
    controls 
    autoplay 
    style="
        width:320px;
        max-width:90%;
        border-radius:15px;
        box-shadow:0 10px 30px rgba(0,0,0,0.3);
        margin-top:20px;
    ">
    <source src="baile.mp4" type="video/mp4">
</video>

